@import '{reywood:bootstrap3-sass}/bootstrap';

// Temporal Override
.jumbotron {
  background-color: white;
}

// Navbar
.nav-justified > li, .nav-tabs.nav-justified > li {
  display: table-cell;
  width: 1%;
  cursor: pointer;
}

.nav-pills li:first-child a, .nav-pills li:last-child a {
  border-bottom-left-radius: 0;
}

.nav-pills > li > a {
  border-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

// General
.section__container {
  text-align: center;
  background-color: white;
}

// Mit
.section__container {
  text-align: center;
  background-color: white;
}

.mit__list {
  list-style: none;
}

.mit__list__element {
  margin: 10px 0;
}

// Tasks
.tasks__list {
  padding: 0;
  list-style: none;
}

.tasks__list__single-task {
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #EEE;
}

.tasks__add-task-form {
  display: flex;
}

.tasks__add-task-form__input {
  margin-right: 5px;
  width: 100%;
}

.item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  box-sizing: border-box;
  padding: 10px 0;
  position: relative;
  height: 43px;
}

.selected {
  background-color: rgba(0, 162, 255, 0.4);
}

.item-hour {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  height: 42px;
  width: 55px;
  position: absolute;
  top: 0px;
  padding-top: 10px;
  padding-left: 9px;
}

.item-content {
  position: relative;
  left: 70px;
}


// Goals
.goals__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.goals__list__item {
  margin-top: 20px;
}

.goals__list__type {
  text-transform: uppercase;
}

// Config
.config__subtitle {
  margin-bottom: 30px;
}

.config__form .btn-primary {
  float: left;
  margin-top: 15px;
}

.config__form__goals-select {
  width: 50%;
  float: right;
}

.config__form__goals-text {
  width: 45%;
  float: left;
  height: 38px;
}
