@import '{reywood:bootstrap3-sass}/bootstrap';

// Temporal Override
.jumbotron {
  background-color: white;
}

// Navbar
.nav-justified > li, .nav-tabs.nav-justified > li {
  display: table-cell;
  width: 1%;
  cursor: pointer;
}

.nav-pills li:first-child a, .nav-pills li:last-child a {
  border-bottom-left-radius: 0;
}

.nav-pills > li > a {
  border-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

// Mit
.mit__container {
  text-align: center;
  background-color: white;
}

.mit__title {
  text-transform: uppercase;
}

.mit__list {
  list-style: none;
}

// Tasks
.tasks__list {
  padding: 0;
  list-style: none;
}

.tasks__list__single-task {
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #EEE;
}

.tasks__add-task-form {
  display: flex;
}

.tasks__add-task-form__input {
  margin-right: 5px;
  width: 100%;
}
